
/* I included the style tag in my html befcause I could not link the stylesheet tot my html
h1 {
    color: rgb(15, 13, 13); /* I changed the color from red to black
    font-family: verdana;
    font-size: 300%;
    text-align: center;
  }
  h2
  {font-size: larger;
  
  }
    
  
  p {
    color: rgb(154, 16, 85);
    font-family: cosmic sans =Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 160%;
  }